<div id="titolo">
  <div><span id="bag" class="material-symbols-outlined">shopping_bag</span></div>
  <h3>Sconti di Primavera</h3>
</div>
<p id="testoIniziale">Disponibilità evento:</p>
<button id="nuovaPrenotazione" *ngIf="!mostraGiorni" (click)="vediDisponibilita()" mat-button>Nuova Prenotazione</button>
<div *ngIf="mostraGiorni">
    <table>
        <thead>
          <tr>
            <th>Data</th>
            <th>Ora inizio</th>
            <th>Ora fine</th>
            <th>Posti disponibili</th>
          </tr>
        </thead>
        @for(prenotazioni of prenotazione; track prenotazioni){
        <tbody>
            <tr><td colspan="4"><hr></td></tr>
            <tr [ngStyle]="{cursor: getCursor(prenotazioni.postiDisponibili)}" (click)="prenota(prenotazioni.postiDisponibili)" id="row">
                <td>{{ prenotazioni.data }}</td>
                <td>{{ prenotazioni.oraInizio }}</td>
                <td>{{ prenotazioni.oraFine }}</td>
                <td><div id="pallino" [ngStyle]="{'background-color': getPosti(prenotazioni.postiDisponibili)}"></div></td>
            </tr>
        </tbody>
        }
    </table>
    <button id="annulla" (click)="vediDisponibilita()" mat-button>Annulla</button>
</div>
<app-pop-up *ngIf="showPopUp" (close)="closePopUp()"></app-pop-up>