table{
    width: 600px;
    border-collapse: collapse;
    text-align: center;
}
tbody{
    background-color: #f2f2f2;
}
#row td{
    padding: 5px;
}
hr{
    margin: 0;
}
#pallino{
    margin: auto;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
#titolo{
    display: flex;
    align-items: center;
    color: steelblue;
}
#bag{
    font-size: 50px;
    margin: 0 10px;
}
h3{
    margin: 0;
}
#nuovaPrenotazione{
    color: steelblue;
    margin: 0 20px;
}
#annulla{
    color: crimson;
    margin: 20px;
}
#testoIniziale{
    margin: 20px;
}