<div id="titolo">
    <div><span id="icon" class="material-symbols-outlined">{{ icona }}</span></div>
    <h3>{{ titolo }}</h3>
</div>
<div id="card">
    <div id="img_evento" [ngStyle]="{'background-image': 'url(' + img_url + ')'}"  [routerLink]="prenotazione">
        <div id="copertina">
            <p id="nome_evento">{{ nome }}</p>
            <p id="giorno">{{ giorno }}</p>
            <p>{{ mese }}</p>
        </div>
    </div>
    <div id="info_evento">
        <div id="orario">
            <span class="material-symbols-outlined">schedule</span>
            <p>{{ orario }}</p>
        </div>
        <div (click)="openLocation()" id="luogo">
            <span class="material-symbols-outlined">location_on</span>
            <p>Posizione</p>
        </div>
    </div>
</div>