div {
    text-align: center;
    margin: 0 auto;
}
h1{
    margin: 0;
    font-size: 30px;
}
p{
    margin: 0;
}
.barra{
    margin: 20px auto;
    width: 80%;
    height: 1px;
    background: linear-gradient(90deg, transparent, steelblue, steelblue, transparent);
}