div{
    display: flex;
    background-color: #eee;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
}
h3{
    width: 50%;
    margin: 0;
}
span{
    font-size: 4rem;
    color: steelblue;
}