<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet" />
<p id="titolo">Registra la tua presenza agli eventi interni attualmente attivi</p>
<div id="container">
    @for(card of cards; track card){
    <div id="card" [routerLink]="card.indirizzo">
        <div class="centra"><span class="material-symbols-outlined">{{card.icona}}</span></div>
        <div class="barra"></div>
        <div class="centra2"><p>{{card.didascalia}}</p></div>
    </div>
    }
</div>